.nav-style {
  text-decoration: none;
  margin-right: 5rem;
  margin-left: 5rem;
}
.card-style {
  border: 1px solid;
  padding: 10px;
  box-shadow: 4px 4px 4px;
  margin-top: 2rem;
}
.api-list-items {
  margin: 3px;
  height: 45px;
  padding: 500px;
 
}
.api-link-style{
  font-size: large;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}